html, body {
    height: 100%;
}

/* #poem-container { */
/* } */

#poem {

    /* Centering
    
    If poem is placed inside another block element, 
    parent element must have position: relative for
    below code to work.  (Default position: static 
    may work, too.)
    
    */
    
    position: absolute;           
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);

    /* Styling text */

    text-align: center;
    font: normal 2em/1.5 "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;  

}

.border{
    border: 1px solid black;
}

/* Responsive design */

@media (max-width: 830px) {
    #poem {
        font: normal 1.5em/1.5 "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;  
    }
}

@media (max-width: 600px) {
    #poem {
        font: normal 1em/1.5 "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;  
    }
}
