html, body {
    height: 100%;
}

/* #poem-container { */
/* } */

#poem {

    /* Centering vertically 
    
    If poem is placed inside another block element, 
    parent element must have position: relative for
    below code to work.  (Default position: static 
    may work, too.)
    
    */
    
    position: absolute;           
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);

    /* Styling text */

    text-align: center;
    font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    line-height: 1.5em;  

}

.border{
    border: 1px solid black;
}